{% extends "layout.html" %}
{% block content %}
<form action="/edit/{{pitcher.id}}" method="post">
    <div class="row">
        <div class="col">
            <label for="Name">Name</label>
            <input id="Name" type="text" class="form-control" placeholder="Name" name="Name" value="{{pitcher.Name}}">
        </div>
        <div class="col">
            <label for="Team">Team</label>
            <input id="Team" type="text" class="form-control" placeholder="Team" name="Team" value="{{pitcher.Team}}">
        </div>
        <div class="col">
            <label for="Position">Position</label>
            <input id="Position" type="text" class="form-control" placeholder="Position" name="Position" value="{{pitcher.Position}}">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Height_in">Height (in)</label>
            <input id="Height_in" type="text" class="form-control" placeholder="Height_in" name="Height_in" value="{{pitcher.Height_in}}">
        </div>
        <div class="col">
            <label for="Weight_lb">Weight (lb)</label>
            <input id="Weight_lb" type="text" class="form-control" placeholder="Weight_lb" name="Weight_lb" value="{{pitcher.Weight_lb}}">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="Age">Age</label>
            <input id="Age" type="text" class="form-control" placeholder="Age"
                   name="Age" value="{{pitcher.Age}}">
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-success">SAVE</button>
</form>
{% endblock %}