{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Team</th>
        <th scope="col">Position</th>
        <th scope="col">Height (inches)</th>
        <th scope="col">Weight (pounds)</th>
        <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
    {% for city in cities %}
    <tr>
        <td>{{ pitcher.Name }}</td>
        <td>{{ pitcher.Team }}</td>
        <td>{{ pitcher.Position }}</td>
        <td>{{ pitcher.Height_inches }}</td>
        <td>{{ pitcher.Weight_lbs }}</td>
        <td>{{ pitcher.Age }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}