{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Team</th>
        <th scope="col">Position</th>
        <th scope="col">Height (inches)</th>
        <th scope="col">Weight (pounds)</th>
        <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
    {% for city in cities %}
    <tr>
        <td>{{ city.fldName }}</td>
        <td>{{ city.fldLat }}</td>
        <td>{{ city.fldLong }}</td>
        <td>{{ city.fldCountry }}</td>
        <td>{{ city.fldAbbreviation }}</td>
        <td>{{ city.fldCapitalStatus }}</td>
        <td>{{ city.fldPopulation }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}