{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Team</th>
        <th scope="col">Position</th>
        <th scope="col">Height (in)</th>
        <th scope="col">Weight (lb)</th>
        <th scope="col">Age (yr)</th>
    </tr>
    </thead>
    <tbody>
    {% for pitcher in pitchers %}
    <tr>
        <td><a href="view/{{ pitcher.id }}">{{ pitcher.Name }}</a></td>
        <td>{{ pitcher.Team }}</td>
        <td>{{ pitcher.Position }}</td>
        <td>{{ pitcher.Height_in }}</td>
        <td>{{ pitcher.Weight_lb }}</td>
        <td>{{ pitcher.Age }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}