{% extends "layout.html" %}
{% block content %}

<div class="card" class="m-5 p-2">
    <h5 class="card-title">{{ pitcher.Name }} - {{ pitcher.Team }}</h5>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">Position: {{ pitcher.Position }}</li>
        <li class="list-group-item"> Height (in): {{ pitcher.Height_in }}</li>
        <li class="list-group-item">Weight (lb): {{ pitcher.Weight_lb }}</li>
        <li class="list-group-item">Age (yr): {{ pitcher.Age }}</li>
    </ul>
    <div class="card-body">
        <a href="/edit/{{pitcher.id}}" class="card-link btn btn-primary">EDIT</a>
    </div>
</div>
<br>
<form action="/delete/{{pitcher.id}}" method="post"><button type="submit" class="btn btn-danger">SAVE</button></form>


{% endblock %}